.disabled{
    .product-item__description, 
    .product-item__title, 
    .product-item__quantity{
        color: var(--disabled-text);
    }
    .product-item__question{
        color: var(--disabled-yellow);
    }
    .product-item__card{
        border-color: var(--disabled-text);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:hover{
            border-color: var(--disabled-text);
        }
        &.product-item__card::before{
            content: "";
            position: absolute;
            top: 16px;
            left: -11px;
            width: 64px;
            height: 4px;
            background-color: var(--disabled-text);
            transform: rotate(-40deg);
            &:hover{
                border-color: var(--disabled-text);
            }
            @media (max-width: 400px){
                &{
                    left: -13px;
                    transform: rotate(-43deg);
                }
            }
        }

    }
    .product-item__card .product-item__weight{
        background-color: var(--disabled-text);
    }
    .product-item__cat{
        opacity: 0.5;
    }
}